<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.TigerLee.HomeIn"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
      
    <application 
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    	android:theme="@style/Theme.D1"
    	android:screenOrientation="portrait"
    	android:configChanges="keyboardHidden|orientation">
    	
      <uses-library android:name="com.google.android.maps"/>
      
		<activity android:name=".activity.IntroPage">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity android:name=".activity.DashBoardActivity"/>
        <activity android:name=".activity.HomeActivity"/>
        <activity android:name=".activity.AboutActivity"/>
        <activity android:name=".activity.MainMenu"/>
        <activity android:name=".activity.HomeIn01"/>        
        <activity android:name=".activity.GoogleMapPicker"/>
        <activity android:name=".activity.CustomDialogActivity"
        	android:theme="@style/Theme.CustomDialog"/>
        <activity android:name=".activity.HomeIn02"/>
        <activity android:name=".activity.HomeIn03"/>
        <activity android:name=".activity.SendTextMessage"/>
        <activity android:name=".activity.TabMenuActivity"/>
        <activity android:name=".activity.PreferencesActivity"/>
        <activity android:name=".activity.UserProfileActivity"/>
        
        <service 
       		android:enabled="true" 
       		android:name=".service.ProximityAlertService"/>
       		
       	<receiver android:name=".receiver.IamHomeBroadcastReceiver">
    		<intent-filter>
            	<action android:name="android.intent.action.ACTION_BOOT_COMPLETED"></action>
             	<action android:name="android.intent.action.ACTION_BATTERY_LOW"></action>
             	<action android:name="android.intent.action.ACTION_PACKAGE_REMOVED"></action>
             	<action android:name="android.intent.action.ACTION_PACKAGE_RESTARTED"></action>
             	
             	<!-- Custom Intent -->
             	<action android:name="com.TigerLee.Homein.intent.action.DISABLE_GPS_INTENT"></action>
             	<action android:name="com.TigerLee.Homein.intent.action.DISABLE_NETWORK_LOCATION_INTENT"></action>
             	<action android:name="com.TigerLee.Homein.intent.action.FORCE_CLOSED_INTENT"></action>
             	<action android:name="com.TigerLee.Homein.intent.action.SUCCESS_INTENT"></action>             	
    		</intent-filter>
    	</receiver>
    	
    </application>
</manifest> 